<!-- templates/libreria.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Librería - Biblioteca Senati</title>
</head>
<body>
    <div class="container">
        <h1>Librería</h1>
        <ul>
            {% for libro in libros %}
            <li>
                <h2>{{ libro.titulo }}</h2>
                <p>Autor: {{ libro.autor }}</p>
                <p>Categoría: {{ libro.categoria }}</p>
                <p>Ubicación: {{ libro.ubicacion }}</p>
                {% if libro.disponibilidad %}
                    <button type="submit">
                    <a href="{{ url_for('prestamo', libro_id=libro.libro_id) }}">Prestar</a>
                    </button>
                {% else %}
                    <p>Libro no disponible</p>
                    <button type="submit">
                    <a href="{{ url_for('reservar', libro_id=libro.libro_id) }}">Reservar</a>
                    </button>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
